In [3]:
# DHPW data
# https://www.data.qld.gov.au/dataset/contract-disclosure-report-dsdsatsip
import pandas as pd
df = pd.read_csv('dsdsatsip_contract-disclosure-report(1).csv', engine='python')
df

,Contract description/name,Contract value,Contract category group,Supplier ABN
0,Specialised Supplies and Services,"132,000",General Goods and Services,3.762162e+10
1,"Machinery, Plant and Equipment","16,095",Information and Communication Technology,3.101055e+10
2,Information and Communication Technology,"21,063",Information and Communication Technology,6.500337e+10
3,Information and Communication Technology,"20,709",Information and Communication Technology,6.500337e+10
4,Specialised Supplies and Services,"16,500",General Goods and Services,8.312809e+10
5,Specialised Supplies and Services,"118,646",General Goods and Services,4.911649e+10
6,Specialised Supplies and Services,"19,646",General Goods and Services,1.361509e+10
7,Specialised Supplies and Services,"14,872",General Goods and Services,4.911649e+10
8,Specialised Supplies and Services,"14,575",General Goods and Services,5.806641e+10
9,Specialised Supplies and Services,"141,931",General Goods and Services,5.400514e+10
10,Specialised Supplies and Services,"10,066",General Goods and Services,4.513424e+10
11,Specialised Supplies and Services,"20,128",General Goods and Services,4.513424e+10
12,Information and Communication Technology,"21,679",Information and Communication Technology,6.500337e+10
13,Specialised Supplies and Services,"113,782",General Goods and Services,4.911649e+10
14,"Machinery, Plant and Equipment","11,776",Information and Communication Technology,3.101055e+10
15,Specialised Supplies and Services,"20,405",General Goods and Services,3.116299e+10
16,Specialised Supplies and Services,"13,915",General Goods and Services,4.060303e+10
17,Business Services,"108,486",Information and Communication Technology,9.062936e+10
18,Specialised Supplies and Services,"10,438",General Goods and Services,4.513424e+10
19,Information and Communication Technology,"22,021",Information and Communication Technology,6.500337e+10
20,Specialised Supplies and Services,"15,246",General Goods and Services,1.829383e+10
21,Specialised Supplies and Services,18180,NaN,NaN
22,Specialised Support Services,13640,NaN,NaN
23,Information and Communication Technology,16500,NaN,NaN
24,Specialised Supplies and Services,20173,NaN,NaN
25,Specialised Supplies and Services,12405,NaN,NaN
26,Specialised Supplies and Services,17850,NaN,NaN
27,Specialised Supplies and Services,25199,NaN,NaN
28,Facilities Management,12794,NaN,NaN
29,Specialised Supplies and Services,10174,NaN,NaN
30,Specialised Supplies and Services,11539,NaN,NaN
31,Materials,12013,NaN,NaN
32,Business Services,13860,NaN,NaN
33,Labour hire,25398,NaN,NaN
34,Labour hire,25398,NaN,NaN
35,Labour hire,25398,NaN,NaN
36,Labour hire,52672,NaN,NaN
37,Labour hire,52672,NaN,NaN
38,Specialised Supplies and Services,21938,NaN,NaN
39,Labour hire,18843,NaN,NaN
40,Labour hire,18843,NaN,NaN
41,Specialised Supplies and Services,30459,NaN,NaN
42,Specialised Supplies and Services,29436,NaN,NaN
43,Specialised Supplies and Services,11000,NaN,NaN
44,Labour hire,35342,NaN,NaN
45,Specialised Supplies and Services,55044,NaN,NaN
46,"Machinery, Plant and Equipment",13096,NaN,NaN
47,"Machinery, Plant and Equipment",37371,NaN,NaN
48,Labour hire,29778,NaN,NaN
49,"Machinery, Plant and Equipment",11496,NaN,NaN
50,Labour hire,27042,NaN,NaN
51,Specialised Supplies and Services,236716,NaN,NaN
52,Labour hire,13492,NaN,NaN
53,Labour hire,12763,NaN,NaN
54,Labour hire,164890,NaN,NaN
55,Labour hire,164890,NaN,NaN
56,Labour hire,178800,NaN,NaN
57,Specialised Supplies and Services,18646,NaN,NaN
58,Social Services,"137,500",Social Services,1.510125e+10
59,Social Services,"52,316",Social Services,1.510125e+10

In [4]:
bullet = df["Contract description/name"].value_counts()
print(bullet)

Specialised Supplies and Services           28
Labour hire                                 15
Information and Communication Technology     5
Machinery, Plant and Equipment               5
Social Services                              2
Business Services                            2
Specialised Support Services                 1
Materials                                    1
Facilities Management                        1
Name: Contract description/name, dtype: int64

In [5]:
len(df)

60

In [6]:
for i in range(1, len(df)):
    desp = df.loc[i,"Contract description/name"]
    print(desp)  # row i column "Contract description/name"

    # remove stop word and char
    desp = desp.replace(',', '')
    desp = desp.replace(' and ', ' ')
    print('===>', desp)

Machinery, Plant and Equipment
===> Machinery Plant Equipment
Information and Communication Technology
===> Information Communication Technology
Information and Communication Technology
===> Information Communication Technology
Specialised Supplies and Services
===> Specialised Supplies Services
Specialised Supplies and Services
===> Specialised Supplies Services
Specialised Supplies and Services
===> Specialised Supplies Services
Specialised Supplies and Services
===> Specialised Supplies Services
Specialised Supplies and Services
===> Specialised Supplies Services
Specialised Supplies and Services
===> Specialised Supplies Services
Specialised Supplies and Services
===> Specialised Supplies Services
Specialised Supplies and Services
===> Specialised Supplies Services
Information and Communication Technology
===> Information Communication Technology
Specialised Supplies and Services
===> Specialised Supplies Services
Machinery, Plant and Equipment
===> Machinery Plant Equipment
Specialised Supplies and Services
===> Specialised Supplies Services
Specialised Supplies and Services
===> Specialised Supplies Services
Business Services
===> Business Services
Specialised Supplies and Services
===> Specialised Supplies Services
Information and Communication Technology
===> Information Communication Technology
Specialised Supplies and Services
===> Specialised Supplies Services
Specialised Supplies and Services
===> Specialised Supplies Services
Specialised Support Services
===> Specialised Support Services
Information and Communication Technology
===> Information Communication Technology
Specialised Supplies and Services
===> Specialised Supplies Services
Specialised Supplies and Services
===> Specialised Supplies Services
Specialised Supplies and Services
===> Specialised Supplies Services
Specialised Supplies and Services
===> Specialised Supplies Services
Facilities Management
===> Facilities Management
Specialised Supplies and Services
===> Specialised Supplies Services
Specialised Supplies and Services
===> Specialised Supplies Services
Materials
===> Materials
Business Services
===> Business Services
Labour hire
===> Labour hire
Labour hire
===> Labour hire
Labour hire
===> Labour hire
Labour hire
===> Labour hire
Labour hire
===> Labour hire
Specialised Supplies and Services
===> Specialised Supplies Services
Labour hire
===> Labour hire
Labour hire
===> Labour hire
Specialised Supplies and Services
===> Specialised Supplies Services
Specialised Supplies and Services
===> Specialised Supplies Services
Specialised Supplies and Services
===> Specialised Supplies Services
Labour hire
===> Labour hire
Specialised Supplies and Services
===> Specialised Supplies Services
Machinery, Plant and Equipment
===> Machinery Plant Equipment
Machinery, Plant and Equipment
===> Machinery Plant Equipment
Labour hire
===> Labour hire
Machinery, Plant and Equipment
===> Machinery Plant Equipment
Labour hire
===> Labour hire
Specialised Supplies and Services
===> Specialised Supplies Services
Labour hire
===> Labour hire
Labour hire
===> Labour hire
Labour hire
===> Labour hire
Labour hire
===> Labour hire
Labour hire
===> Labour hire
Specialised Supplies and Services
===> Specialised Supplies Services
Social Services
===> Social Services
Social Services
===> Social Services

In [7]:
import numpy as np 

desp = desp.split(' ')
print(desp)

# allword = np.array([])
# allword = np.append(allword, desp)
# print(allword)

['Social', 'Services']

In [10]:
allword = {}
for word in desp:
    allword[word] = 0

print(allword.keys(), allword.values())

dict_keys(['Social', 'Services']) dict_values([0, 0])

# **Combine things**

In [18]:
allword = {}

for i in range(1, len(df)):
    desp = df.loc[i,"Contract description/name"] # row i column "Contract description/name"
    contractValue = df.loc[i,"Contract value"] # row i column "Contract value"
    print(desp)  

    # remove stop word and char
    desp = desp.replace(',', '')
    desp = desp.replace(' and ', ' ')

    desp = desp.split(' ')

    # Add word, value to the dictionary
    for word in desp:
        if (word not in allword.keys()):
            allword[word] = int(contractValue.replace(',', ''))
        else: allword[word] += int(contractValue.replace(',', ''))

Machinery, Plant and Equipment
Information and Communication Technology
Information and Communication Technology
Specialised Supplies and Services
Specialised Supplies and Services
Specialised Supplies and Services
Specialised Supplies and Services
Specialised Supplies and Services
Specialised Supplies and Services
Specialised Supplies and Services
Specialised Supplies and Services
Information and Communication Technology
Specialised Supplies and Services
Machinery, Plant and Equipment
Specialised Supplies and Services
Specialised Supplies and Services
Business Services
Specialised Supplies and Services
Information and Communication Technology
Specialised Supplies and Services
Specialised Supplies and Services
Specialised Support Services
Information and Communication Technology
Specialised Supplies and Services
Specialised Supplies and Services
Specialised Supplies and Services
Specialised Supplies and Services
Facilities Management
Specialised Supplies and Services
Specialised Supplies and Services
Materials
Business Services
Labour hire
Labour hire
Labour hire
Labour hire
Labour hire
Specialised Supplies and Services
Labour hire
Labour hire
Specialised Supplies and Services
Specialised Supplies and Services
Specialised Supplies and Services
Labour hire
Specialised Supplies and Services
Machinery, Plant and Equipment
Machinery, Plant and Equipment
Labour hire
Machinery, Plant and Equipment
Labour hire
Specialised Supplies and Services
Labour hire
Labour hire
Labour hire
Labour hire
Labour hire
Specialised Supplies and Services
Social Services
Social Services

In [ ]:
# Shorten the value
for word, value in allword.items():
    print(word, value)
    allword[word] = round(value/10000)